<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link type="text/css" rel="styleSheet" href="css/style1.css" th:href="@{static/css/style1.css}" />
		<link type="text/css" rel="styleSheet" href="css/ExamStyle.css" th:href="@{static/css/ExamStyle.css}" />
		<link type="text/css" rel="styleSheet" href="layui/css/layui.css" th:href="@{static/layui/css/layui.css}" />

		<script type="text/javascript" src="js/jquery-1.8.3.min.js" th:src="@{static/js/jquery-1.8.3.min.js}"></script>
		<script src="layui/layui.js" th:src="@{static/layui/layui.all.js}"></script>
		<script src="layui/layui.js" th:src="@{static/layui/layui.js}"></script>
		<script src="layui/layer/layer.js" th:src="@{static/layui/layer/layer.js}"></script>
		<script type="text/javascript" src="js/template.js" th:src="@{static/js/template.js}"></script>
		<script type="text/javascript" src="js/preview.js" th:src="@{static/js/preview.js}"></script>

	</head>

	<body class="layui-layout-body" style="background-color: #F5F5F5;overflow-y:auto; overflow-x:auto;height:auto;">

		<div style="display: none;">
			<span class="bankid" style="font-size: 20px;color: #5FB878;" th:id="${bankid}" th:text="${bankid}"></span>
			<span class="goodsid" style="font-size: 20px;color: #5FB878;" th:id="${goodsid}" th:text="${goodsid}"></span>
			<span class="goodsprice" style="font-size: 20px;color: #5FB878;" th:id="${goodsprice}" th:text="${goodsprice}"></span>
		</div>

		<div class="layui-layout layui-layout-admin">
			<div class="layui-header header-border" style="background-color:#FFFFFF;">
				<div class="layui-logo">
					<img class="title-size" alt="" href="" src="img/title.png" th:src="@{static/img/title.png}">
				</div>
				<!-- 头部区域（可配合layui已有的水平导航） -->
				<div class="layui-nav layui-layout-left">
					<li class="layui-nav-item">
						<a class="header-font-color" href="">考试</a>
					</li>
					<li class="layui-nav-item">
						<a class="header-font-color" href="">题库</a>
					</li>
					<li class="layui-nav-item">
						<a href="javascript:;" class="header-font-color">商店</a>
						<dl class="layui-nav-child">
							<dd>
								<a class="header-font-color" href="">购买考试</a>
							</dd>
							<dd>
								<a class="header-font-color" href="">购买题库</a>
							</dd>
						</dl>
					</li>
					<li class="layui-nav-item">
						<a class="header-font-color" href="">群组</a>
					</li>
				</div>
				<ul class="layui-nav layui-layout-right">
					<li class="layui-nav-item">
						<a href="javascript:;" class="header-font-color">
							<img src="http://t.cn/RCzsdCq" class="layui-nav-img"> 贤心
						</a>
						<dl class="layui-nav-child">
							<dd>
								<a class="header-font-color" href="">基本资料</a>
							</dd>
							<dd>
								<a class="header-font-color" href="">交易中心</a>
							</dd>
						</dl>
					</li>
					<li class="layui-nav-item header-font-color">
						<a class="header-font-color" href="">退出登录</a>
					</li>
				</ul>
			</div>

			<div class="layui-row">
				<div class="layui-col-md12">
					&nbsp;
				</div>
			</div>
			<div class="layui-row">
				<div class="layui-col-md2">
					&nbsp;
				</div>
				<div class="layui-col-md8">
					<span style="font-size: 15px;color:#777777" th:text="'商品分类 > '+${tag}"></span>
				</div>
				<div class="layui-col-md2">
					&nbsp;
				</div>
			</div>
			<div class="layui-row">
				<div class="layui-col-md2">
					&nbsp;
				</div>
				<div class="layui-col-md8 bankname">
					<span style="font-size: 29px;color:#4E5465" th:text="${bank.bankname}"></span>
				</div>
				<div class="layui-col-md2">
					&nbsp;
				</div>
			</div>
			<div class="layui-row">
				<div class="layui-col-md2">
					&nbsp;
				</div>
				<div class="layui-col-md8">
					
					<span style="font-size: 16px;color:#777777" th:text="'发布于'+${createTime}"></span>
				</div>
				<div class="layui-col-md2">
					&nbsp;
				</div>
			</div>
			<div class="layui-row">
				<div class="layui-col-md2">
					&nbsp;
				</div>
				<div class="layui-col-md8">

					<div class="layui-row">
						<div class="layui-col-md4">
							
							<span style="font-size: 19px;color:#777777" th:text="'购买数： '+${buynum}"></span>
						</div>
						<div class="layui-col-md8">
							<div class="buy-button" style="text-align: right;">
								<span style="font-size: 19px;color:tomato;" th:text="${goodsprice}"></span>
								<span style="font-size: 19px;color:#777777;" th:text="积分"></span>
								<span class="layui-btn layui-btn-danger">购买</span>
							</div>

						</div>
					</div>

				</div>
				<div class="layui-col-md2">
					&nbsp;
				</div>
			</div>

			<div class="layui-row">
				<div class="layui-col-md2">
					&nbsp;
				</div>
				<div class="layui-col-md8">

					<div class="layui-tab layui-tab-card">
						<ul class="layui-tab-title">
							<li class="layui-this">试卷概述</li>
							<li>试题信息</li>
						</ul>
						<div class="layui-tab-content">
							<div class="layui-tab-item layui-show">

								<div class="exam-intro-controller" style="border: 1px solid #F5F5F5;background-color: #FFFFFF;">

									<div class="exam-title" style="margin-top: 25px;">
										<label class="layui-form-label" style="color: #333333;font-size: 17px;width:15%">题库标题</label>
										<div class="layui-input-block">
											<input type="text" name="title" required lay-verify="required" autocomplete="off" disabled="disabled" class="layui-input" style="width: 85%;" th:value="${bank.bankname}">
										</div>

									</div>

									<div class="exam-participate-time" style="margin-top: 25px;">
										<label class="layui-form-label" style="color: #333333;font-size: 17px;width:15%">题库简介</label>
										<div class="layui-input-block">
											<input type="text" name="title" required lay-verify="required" autocomplete="off" disabled="disabled" class="layui-input" style="width: 85%;" th:value="${bank.bankintroduction}">
										</div>
									</div>

									<div class="exam-submit-time" style="margin-top: 25px;">
										<label class="layui-form-label" style="color: #333333;font-size: 17px;width:15%">题库创建时间</label>
										<div class="layui-input-block">
											<input type="text" name="title" required lay-verify="required" autocomplete="off" disabled="disabled" class="layui-input" style="width: 85%;" th:value="${createTime}">
										</div>
									</div>

									<div class="exam-change-window" style="margin-top: 25px;margin-bottom:25px;">
										<label class="layui-form-label" style="color: #333333;font-size: 17px;width:15%">题库总题数</label>
										<div class="layui-input-block">
											<input type="text" name="title" required lay-verify="required" autocomplete="off" disabled="disabled" class="layui-input" style="width: 85%;" th:value="${qsum}">
										</div>
									</div>

									<div class="exam-change-window" style="margin-top: 25px;margin-bottom:25px;">
										<label class="layui-form-label" style="color: #333333;font-size: 17px;width:15%">单选题题数</label>
										<div class="layui-input-block">
											<input type="text" name="title" required lay-verify="required" autocomplete="off" disabled="disabled" class="layui-input" style="width: 85%;" th:value="${q0}">
										</div>
									</div>

									<div class="exam-change-window" style="margin-top: 25px;margin-bottom:25px;">
										<label class="layui-form-label" style="color: #333333;font-size: 17px;width:15%">多选题题数</label>
										<div class="layui-input-block">
											<input type="text" name="title" required lay-verify="required" autocomplete="off" disabled="disabled" class="layui-input" style="width: 85%;" th:value="${q1}">
										</div>
									</div>

									<div class="exam-change-window" style="margin-top: 25px;margin-bottom:25px;">
										<label class="layui-form-label" style="color: #333333;font-size: 17px;width:15%">填空题题数</label>
										<div class="layui-input-block">
											<input type="text" name="title" required lay-verify="required" autocomplete="off" disabled="disabled" class="layui-input" style="width: 85%;" th:value="${q2}">
										</div>
									</div>

									<div class="exam-change-window" style="margin-top: 25px;margin-bottom:25px;">
										<label class="layui-form-label" style="color: #333333;font-size: 17px;width:15%">判断题题数</label>
										<div class="layui-input-block">
											<input type="text" name="title" required lay-verify="required" autocomplete="off" disabled="disabled" class="layui-input" style="width: 85%;" th:value="${q3}">
										</div>
									</div>

									<div class="exam-change-window" style="margin-top: 25px;margin-bottom:25px;">
										<label class="layui-form-label" style="color: #333333;font-size: 17px;width:15%">问答题题数</label>
										<div class="layui-input-block">
											<input type="text" name="title" required lay-verify="required" autocomplete="off" disabled="disabled" class="layui-input" style="width: 85%;" th:value="${q4}">
										</div>
									</div>

								</div>

							</div>
							<div class="layui-tab-item">
								<div class="part-controller" style="border: 1px solid #F5F5F5;margin-top: 25px;">

									<div class="part" style="border: 1px solid #F5F5F5;background-color: #FFFFFF;">

										<div class="part-question-info" style="margin-right:20px;margin-left: 20px;margin-top: 25px;margin-bottom: 75px;">

											<div class="question-container" id="question-container">
												<fieldset style="border: 1px solid #D2D2D2;margin-bottom:30px;" th:each="question:${questions}">
													<legend>
														<div class="one-question-introduction">

															<div class="one-question-serial" style="display: inline;">
																<span style="font-size: 20px;color: #5FB878;" th:text="${questionStat.index+1}+'、&nbsp;&nbsp;'"></span>
															</div>

															<!--题型 填空选择-->
															<div class="one-question-type" style="display: inline;margin-right: 5px;" th:switch="${question.questiontype}">

																<span th:case="'0'" class="layui-badge" style="background-color:#5FB878;"> &nbsp;单选题&nbsp;</span>
																<span th:case="'1'" class="layui-badge" style="background-color:#5FB878;"> &nbsp;多选题&nbsp;</span>
																<span th:case="'2'" class="layui-badge" style="background-color:#5FB878;"> &nbsp;判断题&nbsp;</span>
																<span th:case="'3'" class="layui-badge" style="background-color:#5FB878;"> &nbsp;填空题&nbsp;</span>
																<span th:case="'4'" class="layui-badge" style="background-color:#5FB878;"> &nbsp;问答题&nbsp;</span>
																<span th:case="'*'" class="layui-badge" style="background-color:#5FB878;"> &nbsp;其他&nbsp;</span>
															</div>

															<div class="one-question-skill" style="display: inline;margin-right: 5px;">
																<!--问题技能-->
																<span class="layui-badge" style="background-color:#5FB878;" th:text="${question.questionskill}"></span>
															</div>

															<div class="one-question-degree" style="display: inline;margin-right: 5px;" th:switch="${question.difficultdegree}">
																<span th:case="'0'" class="layui-badge" style="background-color:#5FB878;"> &nbsp;难度：简单&nbsp;</span>
																<span th:case="'1'" class="layui-badge" style="background-color:#5FB878;"> &nbsp;难度：一般&nbsp;</span>
																<span th:case="'2'" class="layui-badge" style="background-color:#5FB878;"> &nbsp;难度：困难&nbsp;</span>
															</div>

															<div class="one-question-points" style="margin-top: 10px;float:right;">

															</div>

														</div>

													</legend>

													<div class="one-question" style="margin-left: 10px;margin-top: 15px;">

														<div class="one-question-title" style="margin-top: 30px;margin-left: 20px;">
															<span style="color:black;font-size: 17px;" th:text="${question.title}"></span>
														</div>

														<div class="one-question-detial" style="margin-top: 30px;margin-left: 4px;">

															<div class="choice" style="border-left: 4px solid #5FB878;">

																<div class="layui-form" style="margin-left: 3px;">

																	<div class="layui-form-item" style="margin-bottom:0px;" th:each="option:${#strings.arraySplit(question.options, '#^#')}">
																		<i class="layui-icon layui-icon-circle" style="font-size: 15px; color:#4E5465;" th:text="${'&nbsp;&nbsp;'+option}" th:id="${option}"></i>
																	</div>

																	<br>
																</div>

															</div>

														</div>

														<div class="right-answer" style="border-left: 4px solid #FF5722;margin-top: 15px;">

															<div class="right-answer-title" style="margin-left: 5px;">
																<span style="color:black;font-size: 16px;"> 正确答案 </span>
															</div>
															<br>
															<div class="right-answer-info" style="margin-left: 5px;" th:each="answer: ${#strings.arraySplit(question.answer, '#^#')}">
																<a th:text="${answer}"></a>
															</div>

														</div>

														<div class="answer-jiexi" style="border-left: 4px solid #FFB800;margin-top: 15px;">

															<div class="right-answer-title" style="margin-left: 5px;">
																<span style="color:black;font-size: 16px;"> 试题解析 </span>
															</div>
															<br>
															<div class="right-answer-info" style="margin-left: 5px;">
																<span th:text="${question.analysis}">  </span>
															</div>

														</div>

													</div>

													<hr>
												</fieldset>
											</div>

										</div>

									</div>
									<div style="color: #4E5465;text-align: center;">
										<span>——— 已到底 ———</span>
									</div>

									<br>
									<br>
									<br><br>

								</div>

							</div>

						</div>

					</div>

				</div>
				<div class="layui-col-md2">
					&nbsp;
				</div>
			</div>

		</div>

	</body>

</html>