<!-- <?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
 PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
	连接mysql数据库的驱动 ，改location="自己工程下数据库的jar包"
	<classPathEntry location="D:\GetHubPro\jiemoTestTry\JiemoTest\src\main\resources\mysql-connector-java-5.1.6-bin.jar" />
	<context id="DB2Tables" targetRuntime="MyBatis3">
		<commentGenerator>
			<property name="suppressAllComments" value="true" />
		</commentGenerator>

		数据库的用户名，密码   改jdbcConnection="自己工程的数据库连接"
		<jdbcConnection driverClass="com.mysql.jdbc.Driver"
			connectionURL="jdbc:mysql://localhost:3306/jiemotest" userId="root" password="root">
		</jdbcConnection>
		
		<javaTypeResolver>
			<property name="forceBigDecimals" value="false" />
		</javaTypeResolver>
		
		自动生成实体类的文件    ，改targetPackage="放置自动生成文件的目录" 
		<javaModelGenerator targetPackage="com.neuedu.JiemoTest.entity.Jiemo.entity" targetProject="D:\GetHubPro\jiemoTestTry\JiemoTest\src\main\java">
			<property name="enableSubPackages" value="true" />
			<property name="trimStrings" value="true" />
		</javaModelGenerator>
		
		
		自动生成表的操作语句(映射文件)    ，改targetPackage="放置自动生成文件的目录" 
		<sqlMapGenerator targetPackage="mapper" targetProject="D:\GetHubPro\jiemoTestTry\JiemoTest\src\main\resources">
			<property name="enableSubPackages" value="true" />
		</sqlMapGenerator>
		
		
		自动生成dao接口     ，改targetPackage="放置自动生成的DAO文件的目录" 
		<javaClientGenerator type="XMLMAPPER" targetPackage="com.neuedu.JiemoTest.dao.Jiemo.dao" targetProject="D:\GetHubPro\jiemoTestTry\JiemoTest\src\main\java">
			<property name="enableSubPackages" value="true" />
		</javaClientGenerator>
		
		
		要新生成的数据库表，注意：已经生成成功的,一定要注释掉,否则会覆盖.我们只生成新表！		
          <table tableName="users" domainObjectName="Users"/>
         <table tableName="announcement" domainObjectName="Announcement"/>
         <table tableName="answer_info" domainObjectName="Answer_info"/>
         <table tableName="bank" domainObjectName="Bank"/>
         <table tableName="announcement" domainObjectName="Announcement"/>
         <table tableName="bonuspoints_record" domainObjectName="BonusPointsRecord"/>
         <table tableName="exam" domainObjectName="Exam"/>
         <table tableName="goods" domainObjectName="Goods"/>
         <table tableName="group" domainObjectName="Group"/>
         <table tableName="group_user" domainObjectName="GroupUser"/>
         <table tableName="homework" domainObjectName="Homework"/>
         <table tableName="order" domainObjectName="Order"/>
         <table tableName="paper_test" domainObjectName="PaperTest"/>
         <table tableName="part" domainObjectName="Part"/>
         <table tableName="question" domainObjectName="Question"/>
         <table tableName="question_in_bank" domainObjectName="QuestionInBank"/>
         <table tableName="question_in_part" domainObjectName="questionInPart"/>
         <table tableName="user_info" domainObjectName="UserInfo"/>
    
	</context>

</generatorConfiguration> -->