<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.enuedu.JiemoTest.dao.BonusPointsRecordMapper" >
  <resultMap id="BaseResultMap" type="com.neuedu.JiemoTest.entity.BonusPointsRecord" >
    <id column="recordId" property="recordid" jdbcType="INTEGER" />
    <result column="userId" property="userid" jdbcType="INTEGER" />
    <result column="bonusPointsNum" property="bonuspointsnum" jdbcType="INTEGER" />
    <result column="operateType" property="operatetype" jdbcType="INTEGER" />
    <result column="operateTime" property="operatetime" jdbcType="INTEGER" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="spare_1" property="spare1" jdbcType="INTEGER" />
    <result column="spare_2" property="spare2" jdbcType="INTEGER" />
    <result column="spare_3" property="spare3" jdbcType="VARCHAR" />
    <result column="spare_4" property="spare4" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    recordId, userId, bonusPointsNum, operateType, operateTime, account, spare_1, spare_2, 
    spare_3, spare_4
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.neuedu.JiemoTest.entity.BonusPointsRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bonuspoints_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bonuspoints_record
    where recordId = #{recordid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bonuspoints_record
    where recordId = #{recordid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.neuedu.JiemoTest.entity.BonusPointsRecordExample" >
    delete from bonuspoints_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.neuedu.JiemoTest.entity.BonusPointsRecord" >
    insert into bonuspoints_record (recordId, userId, bonusPointsNum, 
      operateType, operateTime, account, 
      spare_1, spare_2, spare_3, 
      spare_4)
    values (#{recordid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{bonuspointsnum,jdbcType=INTEGER}, 
      #{operatetype,jdbcType=INTEGER}, #{operatetime,jdbcType=INTEGER}, #{account,jdbcType=VARCHAR}, 
      #{spare1,jdbcType=INTEGER}, #{spare2,jdbcType=INTEGER}, #{spare3,jdbcType=VARCHAR}, 
      #{spare4,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.neuedu.JiemoTest.entity.BonusPointsRecord" >
    insert into bonuspoints_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recordid != null" >
        recordId,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="bonuspointsnum != null" >
        bonusPointsNum,
      </if>
      <if test="operatetype != null" >
        operateType,
      </if>
      <if test="operatetime != null" >
        operateTime,
      </if>
      <if test="account != null" >
        account,
      </if>
      <if test="spare1 != null" >
        spare_1,
      </if>
      <if test="spare2 != null" >
        spare_2,
      </if>
      <if test="spare3 != null" >
        spare_3,
      </if>
      <if test="spare4 != null" >
        spare_4,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recordid != null" >
        #{recordid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="bonuspointsnum != null" >
        #{bonuspointsnum,jdbcType=INTEGER},
      </if>
      <if test="operatetype != null" >
        #{operatetype,jdbcType=INTEGER},
      </if>
      <if test="operatetime != null" >
        #{operatetime,jdbcType=INTEGER},
      </if>
      <if test="account != null" >
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="spare1 != null" >
        #{spare1,jdbcType=INTEGER},
      </if>
      <if test="spare2 != null" >
        #{spare2,jdbcType=INTEGER},
      </if>
      <if test="spare3 != null" >
        #{spare3,jdbcType=VARCHAR},
      </if>
      <if test="spare4 != null" >
        #{spare4,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.neuedu.JiemoTest.entity.BonusPointsRecordExample" resultType="java.lang.Integer" >
    select count(*) from bonuspoints_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bonuspoints_record
    <set >
      <if test="record.recordid != null" >
        recordId = #{record.recordid,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null" >
        userId = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.bonuspointsnum != null" >
        bonusPointsNum = #{record.bonuspointsnum,jdbcType=INTEGER},
      </if>
      <if test="record.operatetype != null" >
        operateType = #{record.operatetype,jdbcType=INTEGER},
      </if>
      <if test="record.operatetime != null" >
        operateTime = #{record.operatetime,jdbcType=INTEGER},
      </if>
      <if test="record.account != null" >
        account = #{record.account,jdbcType=VARCHAR},
      </if>
      <if test="record.spare1 != null" >
        spare_1 = #{record.spare1,jdbcType=INTEGER},
      </if>
      <if test="record.spare2 != null" >
        spare_2 = #{record.spare2,jdbcType=INTEGER},
      </if>
      <if test="record.spare3 != null" >
        spare_3 = #{record.spare3,jdbcType=VARCHAR},
      </if>
      <if test="record.spare4 != null" >
        spare_4 = #{record.spare4,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bonuspoints_record
    set recordId = #{record.recordid,jdbcType=INTEGER},
      userId = #{record.userid,jdbcType=INTEGER},
      bonusPointsNum = #{record.bonuspointsnum,jdbcType=INTEGER},
      operateType = #{record.operatetype,jdbcType=INTEGER},
      operateTime = #{record.operatetime,jdbcType=INTEGER},
      account = #{record.account,jdbcType=VARCHAR},
      spare_1 = #{record.spare1,jdbcType=INTEGER},
      spare_2 = #{record.spare2,jdbcType=INTEGER},
      spare_3 = #{record.spare3,jdbcType=VARCHAR},
      spare_4 = #{record.spare4,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.neuedu.JiemoTest.entity.BonusPointsRecord" >
    update bonuspoints_record
    <set >
      <if test="userid != null" >
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="bonuspointsnum != null" >
        bonusPointsNum = #{bonuspointsnum,jdbcType=INTEGER},
      </if>
      <if test="operatetype != null" >
        operateType = #{operatetype,jdbcType=INTEGER},
      </if>
      <if test="operatetime != null" >
        operateTime = #{operatetime,jdbcType=INTEGER},
      </if>
      <if test="account != null" >
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="spare1 != null" >
        spare_1 = #{spare1,jdbcType=INTEGER},
      </if>
      <if test="spare2 != null" >
        spare_2 = #{spare2,jdbcType=INTEGER},
      </if>
      <if test="spare3 != null" >
        spare_3 = #{spare3,jdbcType=VARCHAR},
      </if>
      <if test="spare4 != null" >
        spare_4 = #{spare4,jdbcType=VARCHAR},
      </if>
    </set>
    where recordId = #{recordid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.neuedu.JiemoTest.entity.BonusPointsRecord" >
    update bonuspoints_record
    set userId = #{userid,jdbcType=INTEGER},
      bonusPointsNum = #{bonuspointsnum,jdbcType=INTEGER},
      operateType = #{operatetype,jdbcType=INTEGER},
      operateTime = #{operatetime,jdbcType=INTEGER},
      account = #{account,jdbcType=VARCHAR},
      spare_1 = #{spare1,jdbcType=INTEGER},
      spare_2 = #{spare2,jdbcType=INTEGER},
      spare_3 = #{spare3,jdbcType=VARCHAR},
      spare_4 = #{spare4,jdbcType=VARCHAR}
    where recordId = #{recordid,jdbcType=INTEGER}
  </update>
</mapper>