<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
		<link type="text/css" rel="styleSheet" href="css/style1.css" th:href="@{static/css/style1.css}" />
		<link type="text/css" rel="styleSheet" href="css/ExamStyle.css" th:href="@{static/css/ExamStyle.css}" />
		<link type="text/css" rel="styleSheet" href="css/bank.css" th:href="@{static/css/bank.css}" />
		<link type="text/css" rel="styleSheet" href="layui/css/layui.css" th:href="@{static/layui/css/layui.css}" />
		<script type="text/javascript" src="js/jquery-1.8.3.min.js" th:src="@{static/js/jquery-1.8.3.min.js}"></script>

		<script src="layui/layui.js" th:src="@{static/layui/layui.js}"></script>

		<script type="text/javascript">
			//JavaScript代码区域
			layui.use('element', function() {
				var element = layui.element;

			});
			$(document).ready(function() {
				$("body").on("hover", ".NavBar-item", function() {
					$(this).css("background-color", "#BCDDBC");
				});
			
				$("body").on("mouseout", ".NavBar-item", function() {
					$(this).css("background-color", "#FFFFFF");
				});
				
				
			});
			
			function timetemple(data) {
				  var date = new Date(data)
				  var Y = date.getFullYear() + '-'
				  var M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-'
				  var D = (date.getDate() < 10 ? '0' + date.getDate() : date.getDate()) + ' '
				  var h = (date.getHours() < 10 ? '0' + date.getHours() : date.getHours()) + ':'
				  var m = (date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes()) + ':'
				  var s = (date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds())
				  return Y + M + D + h + m + s
			}
		</script>
		

	</head>

	<body>

		<body class="layui-layout-body">
			<div class="layui-layout layui-layout-admin header-border">
				<div class="layui-header " style="background-color:#FFFFFF;">
					<div class="layui-logo">
						<img class="title-size" alt="" href="" src="img/title.png" th:src="@{static/img/title.png}">
					</div>
					<!-- 头部区域（可配合layui已有的水平导航） -->
					<div class="layui-nav layui-layout-left">
						<li class="layui-nav-item">
							<a class="header-font-color" href="">考试</a>
						</li>
						<li class="layui-nav-item">
							<a class="header-font-color" href="">题库</a>
						</li>
						<li class="layui-nav-item">
							<a href="javascript:;" class="header-font-color">商店</a>
							<dl class="layui-nav-child">
								<dd>
									<a class="header-font-color" href="">购买考试</a>
								</dd>
								<dd>
									<a class="header-font-color" href="">购买题库</a>
								</dd>
							</dl>
						</li>
						<li class="layui-nav-item">
							<a class="header-font-color" href="">群组</a>
						</li>
					</div>
					<ul class="layui-nav layui-layout-right">
						<li class="layui-nav-item">
							<a href="javascript:;" class="header-font-color">
								<img src="http://t.cn/RCzsdCq" class="layui-nav-img"> 贤心
							</a>
							<dl class="layui-nav-child">
								<dd>
									<a class="header-font-color" href="">基本资料</a>
								</dd>
								<dd>
									<a class="header-font-color" href="">交易中心</a>
								</dd>
							</dl>
						</li>
						<li class="layui-nav-item header-font-color">
							<a class="header-font-color" href="">退出登录</a>
						</li>
					</ul>
				</div>

				<div class="layui-side" style="margin-top: 10px;margin-left: 10px;">
					<div class="layui-side-scroll">
						<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
						<ul class="layui-nav-tree" lay-filter="test">
							
							
							<li class="NavBar-item">
								
								<a class="NavBar-a" href="/showQuestionBanks" ><i class="layui-icon layui-icon-list" style="font-size: 26px; color: darkseagreen;"></i> 我的题库</a>
							</li>
							<hr style="height:1px;">
							<li class="NavBar-item">
								<a class="NavBar-a" href="" ><i class="layui-icon layui-icon-release" style="font-size: 26px; color: darkseagreen;"></i>我的分享</a>
							</li>
							<hr style="height:1px;">
							<li class="NavBar-item">
								<a class="NavBar-a" href="/showashBin"><i class="layui-icon layui-icon-delete" style="font-size: 26px; color: darkseagreen;"></i>回收站</a>
							</li>
						</ul>
					</div>
				</div>

				<div class="layui-body" id="main-body" style="margin-left: 20px;border-left: 1px solid darkseagreen;" >
					<!-- 内容主体区域 -->
	<div class = "my_banks" id="my_banks">
		<div th:each = "bank:${banksList}" class="sigle_bank">
	
  			<div class="bank-top">
    		</div>
    		<div class="bank-context">	
    			<div class="bank-left">
    				<a th:text = "${bank.bankname}" class = "bank-name"></a>
    				<a th:text = "${bank.bankintroduction}" class = "bank-intro"></a>
    			</div>
    			<div class="bank-right listbox">
    				<div class="list-hover"><a  class="layui-icon layui-icon-triangle-d" style="font-size: 15px; color: darkseagreen;"></a>
    				<span>
    					<ul class="listcontext"> <!-- 二级菜单 -->
      					<li><a th:href="@{'/realDeletBank?id='+${bank.bankid}}" class = "layui-icon layui-icon-edit">永久删除</a></li>
      					<li><a th:href="@{'/recoverBank?id='+${bank.bankid}}" class = "layui-icon layui-icon-read" >恢复</a></li>
    					</ul>
    				</span>
    				</div>
    			</div>
  			</div>
  		 	<div class="bank-bottom">
  		 		<hr style="height:1px;">
  		 		<span>
  		 		<a href=""  class = "question-footer">永久删除</a>
  		 		<a class="question-footer" th:href="@{'/recoverBank?id='+${bank.bankid}}">恢复</a>
  		 		</span>
  		 	</div>
		
		</div>
	</div>
				</div>

				<div class="layui-footer" style="margin-left: 20px;border-left: 1px solid darkseagreen;background-color: #FFF;">
					<!-- 底部固定区域 -->
					© layui.com - 底部固定区域
				</div>
			</div>

		</body>

</html>