<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
		<link type="text/css" rel="styleSheet" href="css/style1.css" th:href="@{static/css/style1.css}" />
		<link type="text/css" rel="styleSheet" href="css/ExamStyle.css" th:href="@{static/css/ExamStyle.css}" />
		<link type="text/css" rel="styleSheet" href="css/style1.css" th:href="@{static/css/style1.css}" />
		<link type="text/css" rel="styleSheet" href="css/bank.css" th:href="@{static/css/bank.css}" />
		<link type="text/css" rel="styleSheet" href="layui/css/layui.css" th:href="@{static/layui/css/layui.css}" />
		<script type="text/javascript" src="js/jquery-1.8.3.min.js" th:src="@{static/js/jquery-1.8.3.min.js}"></script>

		<script src="layui/layui.js" th:src="@{static/layui/layui.js}"></script>

		<script type="text/javascript">
			//JavaScript代码区域
			layui.use('element', function() {
				var element = layui.element;

			});
			$(document).ready(function() {
				$("body").on("hover", ".NavBar-item", function() {
					$(this).css("background-color", "#BCDDBC");
				});
			
				$("body").on("mouseout", ".NavBar-item", function() {
					$(this).css("background-color", "#FFFFFF");
				});
				
				$('.question-answer').hide();
			});
			
			
			var ishiden = 1;
			function showAnswer(obj)
			{
				if(ishiden){
					$(obj).siblings('.question-answer').css("display","block");
					ishiden = 0;
				}else{
					$(obj).siblings('.question-answer').css("display","none");
					ishiden = 1;
				}				
			}
			
			var start = 0;
			var count1 = 5;
			var tot = [[${totle}]];
			layui.use('laypage', function(){
				  var laypage = layui.laypage;
				  
				  //执行一个laypage实例
				  laypage.render({
				    elem: 'pagerfoot' //注意，这里的 test1 是 ID，不用加 # 号
				    ,curr:[[${curr}]]
				    ,count: [[${totle}]] //数据总数，从服务端得到
				  	,limit:count1
				  	,jump: function(obj, first){
				  	    //obj包含了当前分页的所有参数，比如：
				  	   var page = obj.curr; //得到当前页，以便向服务端请求对应页的数据。
				  	   start = (page-1)*count1;
				  	   
				  	   //首次不执行
				  	   if(!first){
				  	       location.href ="/showQuestions?id="+[[${bankId}]]+"&start="+start+"&count="+count1;	
				  	    }
				  	}
				  });
			});
			
			function deleteQuestion(bankId,questionId) {
				$.ajax({
					type:"GET",
					url:"/deleteQestion?bankId="+bankId+"&&questionId="+questionId,		
					success: function() {
						tot = tot-1;
						if(start >= tot){
							start = start-count1;
							start = start < 0 ? 0:start;
						}
						location.href ="/showQuestions?id="+[[${bankId}]]+"&start="+start+"&count="+count1;
					}
				});
			}
			layui.use('layer', function(){
				  var layer = layui.layer;
			});
			layui.use('form', function() {
				var form = layui.form;
				form.render('select');
				form.render('checkbox');
				form.render('radio');
				//各种基于事件的操作，下面会有进一步介绍
			});
			var ddegree= '';
			var qskill = '';
			function editQuestion(questionid,title,questionskill,questiontype,options,answer,analysis,difficultdegree,questionskill){
				
				qskill=questionskill;
				ddegree=difficultdegree;
				
				var form = layui.form;
				
				switch (questiontype) {
				case 0://单选题
					//alert("多选题");
					var optStr = strToOption(options)
					var ansStr = strToAns(answer);
					layer.open({
						title: '编辑题目'
						,btn:['确定','返回']
						,anim:0
						,area: ['800px', '600px']
						,offset: 'auto'
						,content:
								'<div class="layui-form layui-form-pane">'
					    		
								+'	<div class="layui-form-item layui-form-text">'
					    		+'		<label class="layui-form-label" style="color: black;">题目</label>'
					    		+'		<div class="layui-input-block">'
					      		+'			<textarea id="edit-bank-title" class="layui-textarea" style="height:100px;" placeholder="'+title+'">'+title+'</textarea>'
					    		+'		</div>'
					  			+'	</div>'
								
					  			+'<div class="layui-form-item">'
					  			+'<label class="layui-form-label" style="color: black;">题目设置</label>'
					  		    +'<div class="layui-input-inline">'
					  		    +'<select id="difficult">'
					  		    +'    <option value="">题目难度</option>'
					  		    +'    <option value="0">简单</option>'
					  		    +'    <option value="1">普通</option>'
					  		    +'    <option value="2">困难</option>'
					  		    +'</select>'
					  		    +'</div>'
					  		    
					  		    +'<div class="layui-input-inline">'
					  		    +'  <select id="skill">'
					  		    +'    <option value="">题目技能</option>'
					  		    +'    <option value="IT技术">IT技术</option>'
					  		    +'    <option value="IT&EQ">IQ&EQ</option>'
					  		    +'    <option value="招聘真题">招聘真题</option>'
					  		    +'    <option value="资格证书">资格证书</option>'
					  		    +'    <option value="学历教育">学历教育</option>'
					  		    +'    <option value="培训学习">培训学习</option>'
					  		    +'    <option value="综合测试">综合测试</option>'
					  		    +'  </select>'
					  		    +'</div>'
					  		    +'</div>'
					  		    
					  		 	 +'<div class="layui-form-item layui-form-text">'
					    		+'	<label class="layui-form-label" style="color: black;">选项</label>'
					    		+'	<div class="layui-input-block">'
					      		+			optStr
					      		+'	</div>'
					      	    +'</div>'
					      	    
					      	    +'<div class="layui-form-item layui-form-text">'
					      	    +'<label class="layui-form-label" style="width: 18%; color: black; display: inline-block;">新建选项</label>'
					      	    +'<div class="layui-input-inline" style="width: 80%; display: inline-block; float: right;">'
					      	    +'  <input id="new-opt" class="layui-input" type="text" placeholder="请输入" style="width: 85%; display: inline;"/>'
					      	  	+'  <button class="layui-btn layui-btn-normal" type="button" onclick="add_opt()">添加</button>'
					      	    +'</div>'
					      	    +'</div>'
					  		    
					      	    +'<div class="layui-form-item layui-form-text">'
					    		+'	<label class="layui-form-label" style="color: black; ">参考答案</label>'
					    		+'	<div class="layui-input-block">'
					      		+'		<textarea id="edit-bank-answer"class="layui-textarea" style="height:20px;" placeholder="'+answer+'">'+answer+'</textarea>'
					    		+'	</div>'
					  			+'</div>'
			
					  			+'<div class="layui-form-item layui-form-text">'
					    		+'	<label class="layui-form-label" style="color: black;">解析</label>'
					    		+'	<div class="layui-input-block">'
					      		+'		<textarea id="edit-bank-analysis"class="layui-textarea" style="height:200px;" placeholder="'+analysis+'">'+analysis+'</textarea>'
					    		+'	</div>'
					  			+'</div>'
					  		
						  		+'</div>'
						,btn1:function(index,layero){
							var ed_title = document.getElementById("edit-bank-title").value;
							var ed_analysis = document.getElementById("edit-bank-analysis").value;
							var ans=document.getElementById("edit-bank-answer").value;
							var opt='';
				            var ed_skill = $("#skill option:selected").val();
				            var ed_dif = $("#difficult option:selected").val();
				            
							var ans=document.getElementById("edit-bank-answer").value;
							
							if(ed_title == ''){
					        	layer.msg('题目不能为空', {
							        time: 1000 //1s后自动关闭
									,type:1
									,end:function(index,layero){
										layer.close(index);
									}
							     });
					        	return;
					        }
							
							if(ans == ''){
					        	layer.msg('答案不能为空', {
							        time: 1000 //1s后自动关闭
									,type:1
									,end:function(index,layero){
										layer.close(index);
									}
							     });
					        	return;
					        }
				            
				            var sig_opts = $("#question-option").find(".op-text");
				            $.each(sig_opts,function(index,sig_opt){
				            	opt=opt+$(sig_opt).val();
				            	//alert(index);
				            	//alert(opt)
				            	opt=opt+"#^#";
				            });
				            if(opt == ''){
					        	layer.msg('选项不能为空', {
							        time: 1000 //1s后自动关闭
									,type:1
									,end:function(index,layero){
										layer.close(index);
									}
							     });
					        	return;
					        }
				            opt = opt.substring(0,opt.length-3);
				            //alert("opts++++++++++++++++++++++++++++++++++++++++++"+opt);
							title = ed_title;
							analysis = ed_analysis;
							answer = ans==''?answer:ans;
							difficultdegree = ed_dif == ''?difficultdegree:ed_dif;
							questionskill = ed_skill == ''?questionskill:ed_skill;
							//alert(opt);
							//var jsdata = '{"id":'+questionid+',"title":'+title+',"answer":'+ans+',"analysis":'+analysis+',"bankId":'+[[${bankId}]]+',"option":'+opt+',"type":0,"skill":'+questionskill+',"degree":'+difficultdegree+'}';
							//alert(jsdata);
							var Jsdata = '{"id":'+questionid+',"title":"'+title+'","answer":"'+ans+'","analysis":"'+analysis+'","bankId":'+[[${bankId}]]+',"option":"'+opt+'","type":0,"skill":"'+questionskill+'","degree":'+difficultdegree+'}';
							//alert(Jsdata);
							$.ajax({
								type:"POST"
								,dataType:'text'
								,contentType: "application/json;charset=UTF-8"
								,data:Jsdata
								,url:"/editQuestion"
								,success:function(message){
									location.href ="/showQuestions?id="+[[${bankId}]]+"&start="+start+"&count="+count1;
									layer.closeAll();
								}
								,error: function (message){
									layer.msg("编辑失败，请重试");
								}
							});
						}
						,btn2:function(index,layero){
								  
						}
					});
					break;
				case 1:
					//alert("多选题");
					var optStr = strToOption(options)
					var ansStr = strToAns(answer);
					layer.open({
						title: '编辑题目'
						,btn:['确定','返回']
						,anim:0
						,area: ['800px', '600px']
						,offset: 'auto'
						,content:
								'<div class="layui-form layui-form-pane">'
					    		
								+'	<div class="layui-form-item layui-form-text">'
					    		+'		<label class="layui-form-label" style="color: black;">题目</label>'
					    		+'		<div class="layui-input-block">'
					      		+'			<textarea id="edit-bank-title" class="layui-textarea" style="height:100px;" placeholder="'+title+'">'+title+'</textarea>'
					    		+'		</div>'
					  			+'	</div>'
								
					  			+'<div class=" class="layui-form-item">'
					  			+'<label class="layui-form-label" style="color: black;">题目设置</label>'
					  		    +'<div class="layui-input-inline">'
					  		    +'<select id="difficult">'
					  		    +'    <option value="">题目难度</option>'
					  		    +'    <option value="0">简单</option>'
					  		    +'    <option value="1">普通</option>'
					  		    +'    <option value="2">困难</option>'
					  		    +'</select>'
					  		    +'</div>'
					  		  	
					  		    +'<div class="layui-input-inline">'
					  		    +'  <select id="skill">'
					  		    +'    <option value="">题目技能</option>'
					  		    +'    <option value="IT技术">IT技术</option>'
					  		    +'    <option value="IT&EQ">IQ&EQ</option>'
					  		    +'    <option value="招聘真题">招聘真题</option>'
					  		    +'    <option value="资格证书">资格证书</option>'
					  		    +'    <option value="学历教育">学历教育</option>'
					  		    +'    <option value="培训学习">培训学习</option>'
					  		    +'    <option value="综合测试">综合测试</option>'
					  		    +'  </select>'
					  		    +'</div>'
					  		    +'</div>'
					  		 	
					  		    +'<div class="layui-form-item layui-form-text">'
					    		+'	<label class="layui-form-label" style="color: black;">选项</label>'
					    		+'	<div class="layui-input-block">'
					      		+			optStr
					      		+'	</div>'
					      	    +'</div>'
					      	    
					      	  +'<div class="layui-form-item layui-form-text">'
					      	    +'<label class="layui-form-label" style="width: 18%; color: black; display: inline-block;">新建选项</label>'
					      	    +'<div class="layui-input-inline" style="width: 80%; display: inline-block; float: right;">'
					      	    +'  <input id="new-opt" class="layui-input" type="text" placeholder="请输入" style="width: 85%; display: inline;"/>'
					      	  	+'  <button class="layui-btn layui-btn-normal" type="button" onclick="add_opt()">添加</button>'
					      	    +'</div>'
					      	    +'</div>'
					  		    
					  		  	+'<div class="layui-form-item layui-form-text">'
					    		+'	<label class="layui-form-label" style="color: black;">参考答案</label>'
					    		+'	<div class="layui-input-block">'
					      		+			ansStr
					      		+'	</div>'
					      	    +'</div>'
					      	    
					      		+'<div class="layui-form-item layui-form-text">'
					      	    +'<label class="layui-form-label" style="width: 18%; color: black; display: inline-block;">新建答案</label>'
					      	    +'<div class="layui-input-inline" style="width: 80%; display: inline-block; float: right;">'
					      	    +'  <input id="new-ans" class="layui-input" type="text" placeholder="请输入" style="width: 85%; display: inline;"/>'
					      	  	+'  <button class="layui-btn layui-btn-normal" type="button" onclick="add_answer()">添加</button>'
					      	    +'</div>'
					      	    +'</div>'
			
					  			+'<div class="layui-form-item layui-form-text">'
					    		+'	<label class="layui-form-label" style="color: black;">解析</label>'
					    		+'	<div class="layui-input-block">'
					      		+'		<textarea id="edit-bank-analysis"class="layui-textarea" style="height:200px;" placeholder="'+analysis+'">'+analysis+'</textarea>'
					    		+'	</div>'
					  			+'</div>'
					  		
						  		+'</div>'
						,btn1:function(index,layero){
							var ed_title = document.getElementById("edit-bank-title").value;
							var ed_analysis = document.getElementById("edit-bank-analysis").value;
							var ans='';
							var opt='';
				            var ed_skill = $("#skill option:selected").val();
				            var ed_dif = $("#difficult option:selected").val();
				            
				            if(ed_title == ''){
					        	layer.msg('题目不能为空', {
							        time: 1000 //1s后自动关闭
									,type:1
									,end:function(index,layero){
										layer.close(index);
									}
							     });
					        	return;
					        }
				            
				            var sig_answers = $("#ed-answer-box").find(".ans-text");
				            $.each(sig_answers,function(index,sig_ans){
				            	ans=ans+$(sig_ans).text();
				            	ans=ans+"#^#";
				            });
				            if(ans == ''){
					        	layer.msg('答案不能为空', {
							        time: 1000 //1s后自动关闭
									,type:1
									,end:function(index,layero){
										layer.close(index);
									}
							     });
					        	return;
					        }
				            ans = ans.substring(0,ans.length-3);
				            
				            
				            var sig_opts = $("#question-option").find(".op-text");
				            $.each(sig_opts,function(index,sig_opt){
				            	opt=opt+$(sig_opt).val();
				            	opt=opt+"#^#";
				            });
				            
				            if(opt == ''){
					        	layer.msg('选项不能为空', {
							        time: 1000 //1s后自动关闭
									,type:1
									,end:function(index,layero){
										layer.close(index);
									}
							     });
					        	return;
					        }
				            ans = ans.substring(0,ans.length-3);

				            opt = opt.substring(0,opt.length-3);
				            //alert(opt);
				            
							title = ed_title;
							analysis = ed_analysis;
							answer = ans==''?answer:ans;
							difficultdegree = ed_dif == ''?difficultdegree:ed_dif;
							questionskill = ed_skill == ''?questionskill:ed_skill;
							
							
							//alert("/editQuestion?id="+questionid+"&&title="+title+"&&answer="+ans+"&&analysis="+analysis+"&&bankId="+[[${bankId}]]+"&&option= &&type=1&&skill="+questionskill+"&&degree="+difficultdegree);
							var Jsdata = '{"id":'+questionid+',"title":"'+title+'","answer":"'+ans+'","analysis":"'+analysis+'","bankId":'+[[${bankId}]]+',"option":"'+opt+'","type":1,"skill":"'+questionskill+'","degree":'+difficultdegree+'}';
							
							$.ajax({
								type:"POST"
								,dataType:'text'
								,contentType: "application/json;charset=UTF-8"
								,data:Jsdata
								,url:"/editQuestion"
								,success:function(message){
									location.href ="/showQuestions?id="+[[${bankId}]]+"&start="+start+"&count="+count1;
									layer.closeAll();
								}
								,error: function (message){
									layer.msg("编辑失败，请重试");
								}
							});
						}
						,btn2:function(index,layero){
								  
						}
					});
					break;
				case 2:
					
					layer.open({
						title: '编辑题目'
						,btn:['确定','返回']
						,anim:0
						,area: ['800px', '600px']
						,offset: 'auto'
						,content:'<div class="layui-form layui-form-pane">'
				    		
								+'	<div class="layui-form-item layui-form-text">'
				    			+'		<label class="layui-form-label" style="color: black;">题目</label>'
				    			+'		<div class="layui-input-block">'
				      			+'			<textarea id="edit-bank-title" class="layui-textarea" style="height:100px;" placeholder="'+title+'">'+title+'</textarea>'
				    			+'		</div>'
				  				+'	</div>'
								
				  				+'<div class="layui-form-item">'
					  			+'<label class="layui-form-label" style="color: black;">题目设置</label>'
					  		    +'<div class="layui-input-inline">'
					  		    +'<select id="difficult">'
					  		    +'    <option value="">题目难度</option>'
					  		    +'    <option value="0">简单</option>'
					  		    +'    <option value="1">普通</option>'
					  		    +'    <option value="2">困难</option>'
					  		    +'</select>'
					  		    +'</div>'
					  		    
					  		    +'<div class="layui-input-inline">'
					  		    +'  <select id="skill">'
					  		    +'    <option value="">题目技能</option>'
					  		    +'    <option value="IT技术">IT技术</option>'
					  		    +'    <option value="IT&EQ">IQ&EQ</option>'
					  		    +'    <option value="招聘真题">招聘真题</option>'
					  		    +'    <option value="资格证书">资格证书</option>'
					  		    +'    <option value="学历教育">学历教育</option>'
					  		    +'    <option value="培训学习">培训学习</option>'
					  		    +'    <option value="综合测试">综合测试</option>'
					  		    +'  </select>'
					  		    +'</div>'
					  		    +'</div>'
								
					  			+'<div class="layui-input-block" style="margin: 0px; border: 1px solid rgb(230, 230, 230); border-image: none; color: black;">'
					  			+'<label class="layui-form-label" style="color: black;">答案</label>'
					  	      	+'<input type="radio" name="judge" value="对" title="对">'
					  	      	+'<input type="radio" name="judge" value="错" title="错">'  
					  	    	+'</div>'
					  
					  			+'<div class="layui-form-item layui-form-text">'
					    		+'	<label class="layui-form-label" style="color: black;">解析</label>'
					    		+'	<div class="layui-input-block">'
					      		+'		<textarea id="edit-bank-analysis"class="layui-textarea" placeholder="'+analysis+'">'+analysis+'</textarea>'
					    		+'	</div>'
					  			+'</div>'
						  		+'</div>'
						,btn1:function(index,layero){
							
							var ed_title = document.getElementById("edit-bank-title").value;
							var ed_analysis = document.getElementById("edit-bank-analysis").value;
							var ans=$("input[name='judge'][checked]").val();
				            var ed_skill = $("#skill option:selected").val();
				            var ed_dif = $("#difficult option:selected").val();
				            
				            if(ans == ''){
					        	layer.msg('答案不能为空', {
							        time: 1000 //1s后自动关闭
									,type:1
									,end:function(index,layero){
										layer.close(index);
									}
							     });
					        	return;
					        }
				            
				            if(ed_title == ''){
					        	layer.msg('题目不能为空', {
							        time: 1000 //1s后自动关闭
									,type:1
									,end:function(index,layero){
										layer.close(index);
									}
							     });
					        	return;
					        }
				            title = ed_title;
							analysis = ed_analysis;
							answer = ans==''?answer:ans;
							difficultdegree = ed_dif == ''?difficultdegree:ed_dif;
							questionskill = ed_skill == ''?questionskill:ed_skill;
							
							//alert("/editQuestion?id="+questionid+"&&title="+title+"&&answer="+answer+"&&analysis="+analysis+"&&bankId="+[[${bankId}]]+"&&option= &&type=2&&skill="+questionskill+"&&degree="+difficultdegree);
							var Jsdata = '{"id":'+questionid+',"title":"'+title+'","answer":"'+ans+'","analysis":"'+analysis+'","bankId":'+[[${bankId}]]+',"option":"","type":2,"skill":"'+questionskill+'","degree":'+difficultdegree+'}';
							
							$.ajax({
								type:"POST"
								,dataType:'text'
								,contentType: "application/json;charset=UTF-8"
								,data:Jsdata
								,url:"/editQuestion"
								,success:function(message){
									location.href ="/showQuestions?id="+[[${bankId}]]+"&start="+start+"&count="+count1;	
									layer.closeAll();
								}
								,error: function (message){
									layer.msg("编辑失败，请重试");
								}
							});
						}
						,btn2:function(index,layero){
								  
						}
					});
					break;
				case 3:
					
					var ansStr = strToAns(answer);
					layer.open({
						title: '编辑题目'
						,btn:['确定','返回']
						,anim:0
						,area: ['800px', '600px']
						,offset: 'auto'
						,content:
								'<div class="layui-form layui-form-pane">'
					    		
								+'	<div class="layui-form-item layui-form-text">'
					    		+'		<label class="layui-form-label" style="color: black;">题目</label>'
					    		+'		<div class="layui-input-block">'
					      		+'			<textarea id="edit-bank-title" class="layui-textarea" style="height:100px;" placeholder="'+title+'">'+title+'</textarea>'
					    		+'		</div>'
					  			+'	</div>'
								
					  			+'<div class="layui-form-item">'
					  			+'<label class="layui-form-label" style="color: black;">题目设置</label>'
					  		    +'<div class="layui-input-inline">'
					  		    +'<select id="difficult">'
					  		    +'    <option value="">题目难度</option>'
					  		    +'    <option value="0">简单</option>'
					  		    +'    <option value="1">普通</option>'
					  		    +'    <option value="2">困难</option>'
					  		    +'</select>'
					  		    +'</div>'
					  		    
					  		    +'<div class="layui-input-inline">'
					  		    +'  <select id="skill">'
					  		    +'    <option value="">题目技能</option>'
					  		    +'    <option value="IT技术">IT技术</option>'
					  		    +'    <option value="IT&EQ">IQ&EQ</option>'
					  		    +'    <option value="招聘真题">招聘真题</option>'
					  		    +'    <option value="资格证书">资格证书</option>'
					  		    +'    <option value="学历教育">学历教育</option>'
					  		    +'    <option value="培训学习">培训学习</option>'
					  		    +'    <option value="综合测试">综合测试</option>'
					  		    +'  </select>'
					  		    +'</div>'
					  		    +'</div>'
					  		    
					  		  	+'<div class="layui-form-item layui-form-text">'
					    		+'	<label class="layui-form-label" style="color: black;">参考答案</label>'
					    		+'	<div class="layui-input-block">'
					      		+			ansStr
					      		+'	</div>'
					      	    +'</div>'
					      	    
					      		+'<div class="layui-form-item layui-form-text">'
					      	    +'<label class="layui-form-label" style="width: 18%; color: black; display: inline-block;">新建答案</label>'
					      	    +'<div class="layui-input-inline" style="width: 80%; display: inline-block; float: right;">'
					      	    +'  <input id="new-ans" class="layui-input" type="text" placeholder="请输入" style="width: 85%; display: inline;"/>'
					      	  	+'  <button class="layui-btn layui-btn-normal" type="button" onclick="add_answer()">添加</button>'
					      	    +'</div>'
					      	    +'</div>'
			
					  			+'<div class="layui-form-item layui-form-text">'
					    		+'	<label class="layui-form-label" style="color: black;">解析</label>'
					    		+'	<div class="layui-input-block">'
					      		+'		<textarea id="edit-bank-analysis"class="layui-textarea" style="height:200px;" placeholder="'+analysis+'">'+analysis+'</textarea>'
					    		+'	</div>'
					  			+'</div>'
					  		
						  		+'</div>'
						,btn1:function(index,layero){
							var ed_title = document.getElementById("edit-bank-title").value;
							var ed_analysis = document.getElementById("edit-bank-analysis").value;
							var ans='';
				            var ed_skill = $("#skill option:selected").val();
				            var ed_dif = $("#difficult option:selected").val();
				            
				            var sig_answers = $("#ed-answer-box").find(".ans-text");
				            $.each(sig_answers,function(index,sig_ans){
				            	ans=ans+$(sig_ans).text();
				            	ans=ans+"#^#";
				            })
				            if(ed_title == ''){
					        	layer.msg('题目不能为空', {
							        time: 1000 //1s后自动关闭
									,type:1
									,end:function(index,layero){
										layer.close(index);
									}
							     });
					        	return;
					        }
				            if(ans == ''){
					        	layer.msg('答案不能为空', {
							        time: 1000 //1s后自动关闭
									,type:1
									,end:function(index,layero){
										layer.close(index);
									}
							     });
					        	return;
					        }
				            
				            ans = ans.substring(0,ans.length-3);
				            
							title = ed_title;
							analysis = ed_analysis;
							answer = ans==''?answer:ans;
							difficultdegree = ed_dif == ''?difficultdegree:ed_dif;
							questionskill = ed_skill == ''?questionskill:ed_skill;
							
							
							//alert("/editQuestion?id="+questionid+"&&title="+title+"&&answer="+answer+"&&analysis="+analysis+"&&bankId="+[[${bankId}]]+"&&option= &&type=3&&skill="+questionskill+"&&degree="+difficultdegree);
							var Jsdata = '{"id":'+questionid+',"title":"'+title+'","answer":"'+ans+'","analysis":"'+analysis+'","bankId":'+[[${bankId}]]+',"option":"","type":3,"skill":"'+questionskill+'","degree":'+difficultdegree+'}';
							
							$.ajax({
								type:"POST"
								,dataType:'text'
								,contentType: "application/json;charset=UTF-8"
								,data:Jsdata
								,url:"/editQuestion"

								,success:function(message){
									location.href ="/showQuestions?id="+[[${bankId}]]+"&start="+start+"&count="+count1;
									layer.closeAll();
								}
								,error: function (message){
									layer.msg("编辑失败，请重试");
								}
							});
						}
						,btn2:function(index,layero){
								  
						}
					});
					break;
				case 4:
					layer.open({
						title: '编辑题目'
						,btn:['确定','返回']
						,anim:0
						,area: ['800px', '600px']
						,offset: 'auto'
						,content:
								'<div class="layui-form layui-form-pane">'
					    		
								+'	<div class="layui-form-item layui-form-text">'
					    		+'		<label class="layui-form-label" style="color: black;">题目</label>'
					    		+'		<div class="layui-input-block">'
					      		+'			<textarea id="edit-bank-title" class="layui-textarea" style="height:100px;" placeholder="'+title+'">'+title+'</textarea>'
					    		+'		</div>'
					  			+'	</div>'
								
					  			+'<div class="layui-form-item">'
					  			+'<label class="layui-form-label" style="color: black;">题目设置</label>'
					  		    +'<div class="layui-input-inline">'
					  		    +'<select id="difficult">'
					  		    +'    <option value="">题目难度</option>'
					  		    +'    <option value="0">简单</option>'
					  		    +'    <option value="1">普通</option>'
					  		    +'    <option value="2">困难</option>'
					  		    +'</select>'
					  		    +'</div>'
					  		    
					  		    +'<div class="layui-input-inline">'
					  		    +'  <select id="skill">'
					  		    +'    <option value="">题目技能</option>'
					  		    +'    <option value="IT技术">IT技术</option>'
					  		    +'    <option value="IT&EQ">IQ&EQ</option>'
					  		    +'    <option value="招聘真题">招聘真题</option>'
					  		    +'    <option value="资格证书">资格证书</option>'
					  		    +'    <option value="学历教育">学历教育</option>'
					  		    +'    <option value="培训学习">培训学习</option>'
					  		    +'    <option value="综合测试">综合测试</option>'
					  		    +'  </select>'
					  		    +'</div>'
					  		    +'</div>'
					  		    
					  			+'<div class="layui-form-item layui-form-text">'
					    		+'	<label class="layui-form-label" style="color: black;">参考答案</label>'
					    		+'	<div class="layui-input-block">'
					      		+'		<textarea id="edit-bank-answer"class="layui-textarea" style="height:200px;" placeholder="'+answer+'">'+answer+'</textarea>'
					    		+'	</div>'
					  			+'</div>'
					  			
					  			+'<div class="layui-form-item layui-form-text">'
					    		+'	<label class="layui-form-label" style="color: black;">解析</label>'
					    		+'	<div class="layui-input-block">'
					      		+'		<textarea id="edit-bank-analysis"class="layui-textarea" style="height:200px;" placeholder="'+analysis+'">'+analysis+'</textarea>'
					    		+'	</div>'
					  			+'</div>'
						  		+'</div>'
						,btn1:function(index,layero){
							var ed_title = document.getElementById("edit-bank-title").value;
							var ed_analysis = document.getElementById("edit-bank-analysis").value;
							var ans=document.getElementById("edit-bank-answer").value;
				            var ed_skill = $("#skill option:selected").val();
				            var ed_dif = $("#difficult option:selected").val();
				            
				            if(ed_title == ''){
					        	layer.msg('题目不能为空', {
							        time: 1000 //1s后自动关闭
									,type:1
									,end:function(index,layero){
										layer.close(index);
									}
							     });
					        	return;
					        }
				            
							title = ed_title;
							analysis = ed_analysis;
							answer = ans;
							difficultdegree = ed_dif == ''?difficultdegree:ed_dif;
							questionskill = ed_skill == ''?questionskill:ed_skill;
							
							if(answer == ''){
					        	layer.msg('答案不能为空', {
							        time: 1000 //1s后自动关闭
									,type:1
									,end:function(index,layero){
										layer.close(index);
									}
							     });
					        	return;
					        }
							
							var Jsdata = '{"id":'+questionid+',"title":"'+title+'","answer":"'+answer+'","analysis":"'+analysis+'","bankId":'+[[${bankId}]]+',"option":"","type":4,"skill":"'+questionskill+'","degree":'+difficultdegree+'}';
							
							$.ajax({
								type:"POST"
								,dataType:'text'
								,contentType: "application/json;charset=UTF-8"
								,data:Jsdata
								,url:"/editQuestion"
								,success:function(message){
									location.href ="/showQuestions?id="+[[${bankId}]]+"&start="+start+"&count="+count1;
									layer.closeAll();
								}
								,error: function (message){
									layer.msg("编辑失败，请重试");
								}
							});
						}
						,btn2:function(index,layero){
								  
						}
					});
					break;
				default:
					//alert("其它");
					break;
				}

				form.render('select');
				form.render('checkbox');
				form.render('radio');
				
				$("#skill").val(qskill);
				$("#difficult").val(ddegree);
			
				$(".mov-answer").click(function(){
					$(this).parent(".signal-answer").remove();
				});
				$(".mov-ad-option").click(function(){
					$(this).parent().remove();
				});
			}
			
			//新建题目///////////////////////////////////////////////////////////////
			function creat_question(){
				var layer = layui.layer;
				var form = layui.form;
				layer.open({
					title: '新建题目'
					,btn:['确定','返回']
					,anim:0
					,area: ['800px', '600px']
					,offset: 'auto'
					,content:
							'<div class="layui-form layui-form-pane">'
							
							+'<div class="layui-form-item">'
				  			+'<label class="layui-form-label" style="color: black;">题型选择设置</label>'
				  		    +'<div class="layui-input-inline">'
				  		    +'<select id="q_type" lay-filter="q_type">'
				  		    +'    <option value="">题型选择</option>'
				  		    +'    <option value="0">单选题</option>'
				  		    +'    <option value="1">多选题</option>'
				  		    +'    <option value="2">判断题</option>'
				  		    +'    <option value="3">填空题</option>'
				  		    +'    <option value="4">问答题</option>'
				  		    +'</select>'
				  		    +'</div>'
				  		    +'</div>'
				  		    
				  		  	+'<div class="layui-form-item">'
				  			+'<label class="layui-form-label" style="color: black;">题目设置</label>'
				  		    +'<div class="layui-input-inline">'
				  		    +'<select id="difficult">'
				  		    +'    <option value="">题目难度</option>'
				  		    +'    <option value="0">简单</option>'
				  		    +'    <option value="1">普通</option>'
				  		    +'    <option value="2">困难</option>'
				  		    +'</select>'
				  		    +'</div>'
				  		    
				  		  	+'<div class="layui-input-inline">'
				  		    +'  <select id="skill">'
				  		    +'    <option value="">题目技能</option>'
				  		    +'    <option value="IT技术">IT技术</option>'
				  		    +'    <option value="IT&EQ">IQ&EQ</option>'
				  		    +'    <option value="招聘真题">招聘真题</option>'
				  		    +'    <option value="资格证书">资格证书</option>'
				  		    +'    <option value="学历教育">学历教育</option>'
				  		    +'    <option value="培训学习">培训学习</option>'
				  		    +'    <option value="综合测试">综合测试</option>'
				  		    +'  </select>'
				  		    +'</div>'
				  		    +'</div>'
				  		    
							+'	<div class="layui-form-item layui-form-text">'
				    		+'		<label class="layui-form-label" style="color: black;">题目</label>'
				    		+'		<div class="layui-input-block">'
				      		+'			<textarea id="edit-bank-title" class="layui-textarea" style="height:100px;" placeholder="请输入题目"></textarea>'
				    		+'		</div>'
				  			+'	</div>'
							
				  		 	+'<div class="layui-form-item layui-form-text" id = "creat-option">'
				      	    +'</div>'
				      	    
				      	    +'<div class="layui-form-item layui-form-text" id = "creat-option-input">'
				      	    +'</div>'
				      	    
				      	    +'<div class="layui-input-block" id="creat-radio-ans" style="margin: 0px; border: 1px solid rgb(230, 230, 230); border-image: none; color: black;">'
				  	    	+'</div>'
				      	    
				      	    +'<div class="layui-form-item layui-form-text" id = "creat-ans-many">'
				      	    +'</div>'
				      	    
				      		+'<div class="layui-form-item layui-form-text" id="creat-ans-many-input">'
				      	    +'</div>'
				      	    
				      	    +'<div class="layui-form-item layui-form-text" id="creat-ans-one">'
				  			+'</div>'
		
				  			+'<div class="layui-form-item layui-form-text">'
				    		+'	<label class="layui-form-label" style="color: black;">解析</label>'
				    		+'	<div class="layui-input-block">'
				      		+'		<textarea id="edit-bank-analysis"class="layui-textarea" style="height:200px;" placeholder="请输入解析"></textarea>'
				    		+'	</div>'
				  			+'</div>'
				  		
					  		+'</div>'
					,btn1:function(index,layero){
						//获取题型
						var type='';
						if($("#q_type option:selected").val()==''){
							layer.msg('请选择题型', {
						        time: 1000 //1s后自动关闭
								,type:1
								,end:function(index,layero){
									layer.close(index);
								}
						      });
							return;
						}else {
							var type = $("#q_type option:selected").val();
						}
						//alert(type);
						
						//获取难度
						var difficult = -1;
						if ( $("#difficult option:selected").val()=='') {
							layer.msg('请选择题目难度', {
						        time: 1000 //1s后自动关闭
								,type:1
								,end:function(index,layero){
									layer.close(index);
								}
						      });
							return;
						}else {
							difficult = $("#difficult option:selected").val();
						}
						//alert(difficult);
						
						//获取技能
						var skill = '';
						if ( $("#skill option:selected").val()=='') {
							layer.msg('请选择题目技能', {
						        time: 1000 //1s后自动关闭
								,type:1
								,end:function(index,layero){
									layer.close(index);
								}
						      });
							return;
						}else {
							var skill = $("#skill option:selected").val();
						}
						//alert(skill);
						
						//获取题目
						var title=''
						if ($("#edit-bank-title").val() == '') {
							layer.msg('请输入题目', {
						        time: 1000 //1s后自动关闭
								,type:1
								,end:function(index,layero){
									layer.close(index);
								}
						     });
							return
						}else {
							title = $("#edit-bank-title").val();				
						}
						//alert(title);
						
						//获取选项
						var option = '';
						var sig_opts = $("#question-option").find(".op-text");
				            $.each(sig_opts,function(index,sig_opt){
				            	option=option+$(sig_opt).val();
				            	//alert(index);
				            	//alert(opt)
				            	option=option+"#^#";
				        });
				        if(option == ''&&(type == '1'||type == '0')){
					        	layer.msg('选项不能为空', {
							        time: 1000 //1s后自动关闭
									,type:1
									,end:function(index,layero){
										layer.close(index);
									}
							     });
					        	return;
					        }
				        option = option.substring(0,option.length-3);
						//alert(option);
				        //获取答案
				        var answer = '';
				        if (type=='0'||type=='4') {
				        	//单选和问答，从单选框中获取答案
				        	answer = $("#edit-bank-answer").val();
				        }else if (type == '1'||type=='3') {
							//多选和填空，从多选中组合答案
				        	var sig_answers = $("#ed-answer-box").find(".ans-text");
				            $.each(sig_answers,function(index,sig_ans){
				            	answer=answer+$(sig_ans).text();
				            	answer=answer+"#^#";
				            })
				             answer = answer.substring(0,answer.length-3);
						}else if (type == '2') {
							//判断题，从单选框中获取答案
							answer=$("input[name='judge'][checked]").val();
						}
				        
				        if(answer == ''){
				        	layer.msg('答案不能为空', {
						        time: 1000 //1s后自动关闭
								,type:1
								,end:function(index,layero){
									layer.close(index);
								}
						     });
				        	return;
				        }
						//alert(answer);
				        //获取解析
				        var analysis = $("#edit-bank-analysis").val();
				        //alert(analysis);
						
				        //组合json信息
				        var Jsdata = '{"title":"'+title+'","answer":"'+answer+'","analysis":"'+analysis+'","bankId":'+[[${bankId}]]+',"option":"'+option+'","type":'+type+',"skill":"'+skill+'","degree":'+difficult+'}';
				        //alert(Jsdata);
				        
				        $.ajax({
							type:"POST"
							,dataType:'text'
							,contentType: "application/json;charset=UTF-8"
							,data:Jsdata
							,url:"/createQuestion"
							,success:function(message){
								var st = start;
								var tot_add = tot+1;
								if(tot_add%count1!=0){
									st = parseInt(tot_add/count1)*count1;
									//alert(">0++++++++"+st);
								}else {
									st = (parseInt(tot_add/count1)-1)*count1;
									//alert("=0++++++++"+st);
								}
								location.href ="/showQuestions?id="+[[${bankId}]]+"&start="+st+"&count="+count1;
								layer.closeAll();
							}
							,error: function (message){
								layer.msg("添加失败，请重试");
							}
						});
				   	}
					,btn2:function(index,layero){
							  
					}
				});
				
				form.render('select');
				form.render('checkbox');
				form.render('radio');
				
				$("#skill").val('');
				$("#difficult").val('');
			
				$(".mov-answer").click(function(){
					$(this).parent(".signal-answer").remove();
				});
				$(".mov-ad-option").click(function(){
					$(this).parent().remove();
				});
				
				form.on('select(q_type)', function(data){
					  
					var typeValue =  data.value; //得到被选中的值
					 // console.log(data.othis); //得到美化后的DOM对象
					switch (typeValue) {
					case '0'://单选题
					var option_box = '<label class="layui-form-label" style="color: black;">选项</label>'
									+'	<div class="layui-input-block">'
									+'  <div class="question-option boxs" id="question-option"></div>'
									+'</div>';
					
					var option_add_butn = '<label class="layui-form-label" style="width: 18%; color: black; display: inline-block;">新建选项</label>'
				      	    			+'<div class="layui-input-inline" style="width: 80%; display: inline-block; float: right;">'
				      	    			+'  <input id="new-opt" class="layui-input" type="text" placeholder="请输入" style="width: 85%; display: inline;"/>'
				      	  				+'  <button class="layui-btn layui-btn-normal" type="button" onclick="add_opt()">添加</button>'
				      	    			+'</div>';
				    
				    $("#creat-radio-ans").empty();
				    $("#creat-ans-many").empty();
				    $("#creat-ans-many-input").empty();
				    
				    var ans_one = '	<label class="layui-form-label" style="color: black; ">参考答案</label>'
				    			+'	<div class="layui-input-block">'
				      			+'		<textarea id="edit-bank-answer"class="layui-textarea" style="height:40px;" placeholder="请输入参考答案"></textarea>'
				    			+'	</div>';
				    			
				    if($("#creat-option").children().length<=0){	
				    	$("#creat-option").append(option_box);
				   	}
				    if($("#creat-option-input").children().length<=0){
				    	$("#creat-option-input").append(option_add_butn);
				    }
				    if($("#creat-ans-one").children().length<=0){
						$("#creat-ans-one").append(ans_one);
				    }
					break;


					case "1"://多选题
					
						var option_box = '<label class="layui-form-label" style="color: black;">选项</label>'
							+'	<div class="layui-input-block">'
							+'  <div class="question-option boxs" id="question-option"></div>'
							+'</div>';
			
						var option_add_butn = '<label class="layui-form-label" style="width: 18%; color: black; display: inline-block;">新建选项</label>'
		      	    			+'<div class="layui-input-inline" style="width: 80%; display: inline-block; float: right;">'
		      	    			+'  <input id="new-opt" class="layui-input" type="text" placeholder="请输入" style="width: 85%; display: inline;"/>'
		      	  				+'  <button class="layui-btn layui-btn-normal" type="button" onclick="add_opt()">添加</button>'
		      	    			+'</div>';
		    
		    			$("#creat-radio-ans").empty();
		   				$("#creat-ans-one").empty();
		    
		    			var ans_many = '	<label class="layui-form-label" style="color: black;">参考答案</label>'
				    			+'	<div class="layui-input-block">'
				      			+	'<div class="answer-box boxs" id="ed-answer-box"></div>'		
				      			+'	</div>';
				      	var ans_many_butn = '<label class="layui-form-label" style="width: 18%; color: black; display: inline-block;">新建答案</label>'
				      	   		+'<div class="layui-input-inline" style="width: 80%; display: inline-block; float: right;">'
				      	    	+'  <input id="new-ans" class="layui-input" type="text" placeholder="请输入" style="width: 85%; display: inline;"/>'
				      	  		+'  <button class="layui-btn layui-btn-normal" type="button" onclick="add_answer()">添加</button>'
				      	    	+'</div>';
		    			
		    			if($("#creat-ans-many-input").children().length<=0){
							$("#creat-ans-many-input").append(ans_many_butn);
		    			}
				      	if($("#creat-ans-many").children().length<=0){
				      		$("#creat-ans-many").append(ans_many);
		    			}
				      	if($("#creat-option").children().length<=0){
				      		$("#creat-option").append(option_box);
		    			}
				      	if($("#creat-option-input").children().length<=0){
				      		$("#creat-option-input").append(option_add_butn);
		    			}	
				      	
					break;

					case "2"://判断题
						$("#creat-option-input").empty();
						$("#creat-option").empty();
						$("#creat-ans-many").empty();
					    $("#creat-ans-many-input").empty();
					    $("#creat-ans-one").empty();
					    var redio_ans = '<label class="layui-form-label" style="color: black;">答案</label>'
				  			+'<input type="radio" name="judge" value="对" title="对">'
				  	      	+'<input type="radio" name="judge" value="错" title="错">'; 
				  	     if ($("#creat-radio-ans").children().length<=0) {
				  	    	$("#creat-radio-ans").append(redio_ans);
						}
					break;

					case "3"://填空题
						$("#creat-option-input").empty();
						$("#creat-option").empty();
					    $("#creat-ans-one").empty();
					    $("#creat-radio-ans").empty();
					    
					    var ans_many = '	<label class="layui-form-label" style="color: black;">参考答案</label>'
			    			+'	<div class="layui-input-block">'
			      			+	'<div class="answer-box boxs" id="ed-answer-box"></div>'		
			      			+'	</div>';
			      		var ans_many_butn = '<label class="layui-form-label" style="width: 18%; color: black; display: inline-block;">新建答案</label>'
			      	   		+'<div class="layui-input-inline" style="width: 80%; display: inline-block; float: right;">'
			      	    	+'  <input id="new-ans" class="layui-input" type="text" placeholder="请输入" style="width: 85%; display: inline;"/>'
			      	  		+'  <button class="layui-btn layui-btn-normal" type="button" onclick="add_answer()">添加</button>'
			      	    	+'</div>';
			      		if($("#creat-ans-many-input").children().length<=0){
							$("#creat-ans-many-input").append(ans_many_butn);
		    			}
				      	if($("#creat-ans-many").children().length<=0){
				      		$("#creat-ans-many").append(ans_many);
		    			}
				
					break ;
					

					case "4"://问答题
						$("#creat-option-input").empty();
						$("#creat-option").empty();
					    $("#creat-radio-ans").empty();
						$("#creat-ans-many").empty();
					    $("#creat-ans-many-input").empty();
					    
					    var ans_one = '	<label class="layui-form-label" style="color: black; ">参考答案</label>'
			    			+'	<div class="layui-input-block">'
			      			+'		<textarea id="edit-bank-answer"class="layui-textarea" style="height:40px;" placeholder="请输入参考答案"></textarea>'
			    			+'	</div>';
					    if($("#creat-ans-one").children().length<=0){
							$("#creat-ans-one").append(ans_one);
					    }
					break;

				default:
					break;
				}	
					form.render('select');
					form.render('checkbox');
					form.render('radio');
				});
				
				layui.use('layer', function(){
					  var layer = layui.layer;
				});
				
			}
			
			function add_answer(){
					var newans = $(" #new-ans ").val();
					//alert("in!+"+newans);
					if (newans!='') {
						var addto = '<div class="signal-answer">'
									+'<div class = "ed-ec-answer"><p class="ans-text">'+newans+'</p></div>'
									+'<div class = "mov-answer"><a class="layui-icon layui-icon-close" style="color:red;"></a></div>'
									+'</div>';
						$("#ed-answer-box").append(addto);
						$(" #new-ans ").val("");	
					}
					
					$(".mov-answer").click(function(){
						$(this).parent().remove();
					});
			}
			function strToAns(str) {
				var retrn = '<div class="answer-box boxs" id="ed-answer-box">';
				var array_str = str.split("#^#");
				$.each(array_str,function(index,ans){
					retrn = retrn + '<div class="signal-answer">'
							+'<div class = "ed-ec-answer"><p class="ans-text">'+ans+'</p></div>'
							+'<div class = "mov-answer"><a class="layui-icon layui-icon-close" style="color:red;"></a></div>'
							+'</div>';
				})
				retrn=retrn+'</div>';
				return retrn;
			}
			
			function strToOption(str) {
				var retrn = '<div class="question-option boxs" id="question-option">';
				var array_str = str.split("#^#");
				if (array_str[0] == '') {
					retrn = retrn+'</div>'
					return retrn;
				}
				$.each(array_str,function(index,ans){
					retrn = retrn+'<div class="signal-option">'
					//<input type="radio" name="sex" th:text="${option}" style="color:#393D94;">
							+'<div class = "ed-ad-option"><input type="radio" class="op-text" name="ed-op" value="'+ans+'" title="'+ans+'"  disabled></div>'
							+'<div class = "mov-ad-option"><a class="layui-icon layui-icon-close" style="color:red;"></a></div>'
							+'</div>';
				})
				retrn=retrn+'</div>';
				return retrn; 
			}
			
			function add_opt(){
				var newans = $(" #new-opt ").val();
				//alert("in!+"+newans);
				if (newans!='') {
					var addto = '<div class="signal-option">'
								+'<div class = "ed-ad-option"><input type="radio" class="op-text" name="ed-op" value="'+newans+'" title="'+newans+'"  disabled></div>'
								+'<div class = "mov-ad-option"><a class="layui-icon layui-icon-close" style="color:red;"></a></div>'
								+'</div>';
					//alert(addto);
					$("#question-option").append(addto);
					$(" #new-opt ").val("");	
				}
				
				$(".mov-ad-option").click(function(){
					$(this).parent().remove();
				});
				var form = layui.form;
				form.render('select');
				form.render('checkbox');
				form.render('radio');
			}
			
		</script>
		

	</head>


		<body class="layui-layout-body">
			<div class="layui-layout layui-layout-admin header-border">
				<div class="layui-header " style="background-color:#FFFFFF;">
					<div class="layui-logo">
						<img class="title-size" alt="" href="" src="img/title.png" th:src="@{static/img/title.png}">
					</div>
					<!-- 头部区域（可配合layui已有的水平导航） -->
					<div class="layui-nav layui-layout-left">
						<li class="layui-nav-item">
							<a class="header-font-color" href="">考试</a>
						</li>
						<li class="layui-nav-item">
							<a class="header-font-color" href="">题库</a>
						</li>
						<li class="layui-nav-item">
							<a href="javascript:;" class="header-font-color">商店</a>
							<dl class="layui-nav-child">
								<dd>
									<a class="header-font-color" href="">购买考试</a>
								</dd>
								<dd>
									<a class="header-font-color" href="">购买题库</a>
								</dd>
							</dl>
						</li>
						<li class="layui-nav-item">
							<a class="header-font-color" href="">群组</a>
						</li>
					</div>
					<ul class="layui-nav layui-layout-right">
						<li class="layui-nav-item">
							<a href="javascript:;" class="header-font-color">
								<img src="http://t.cn/RCzsdCq" class="layui-nav-img"> 贤心
							</a>
							<dl class="layui-nav-child">
								<dd>
									<a class="header-font-color" href="">基本资料</a>
								</dd>
								<dd>
									<a class="header-font-color" href="">交易中心</a>
								</dd>
							</dl>
						</li>
						<li class="layui-nav-item header-font-color">
							<a class="header-font-color" href="">退出登录</a>
						</li>
					</ul>
				</div>

				<div class="layui-side" style="margin-top: 10px;margin-left: 10px;">
					<div class="layui-side-scroll">
						<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
						<ul class="layui-nav-tree" lay-filter="test">
							<li class="NavBar-item">
								<a class="NavBar-a" href="/showQuestionBanks" ><i class="layui-icon layui-icon-list" style="font-size: 26px; color: darkseagreen;"></i> 我的题库</a>
							</li>
							<hr style="height:1px;">
							<li class="NavBar-item">
								<a class="NavBar-a" href="/showOrder?type=0" ><i class="layui-icon layui-icon-release" style="font-size: 26px; color: darkseagreen;"></i>分享</a>
							</li>
							<hr style="height:1px;">
							<li class="NavBar-item">
								<a class="NavBar-a" href="/showashBin"><i class="layui-icon layui-icon-delete" style="font-size: 26px; color: darkseagreen;"></i>回收站</a>
							</li>
						</ul>
					</div>
				</div>

				<div class="layui-body" id="main-body" style="margin-left: 20px;border-left: 1px solid darkseagreen;" >
					<!-- 内容主体区域 -->
	<div class = "top-bank">
		<div class="bank_name"><p id = "bank_name" th:text="${bankName}"></p></div>
		<div class="bank_choise">
			<a class = "question-footer">批量上传</a>
			<a onclick="creat_question()" class = "question-footer">新建题目</a>
		</div>
		<a href= "/showQuestionBanks" class="layui-icon layui-icon-close" style="color:red;font-size:20px;"></a>
	</div>
	<hr style="height:1px;">
	<div class = "bank_questions" id="bank_questions">
		<fieldset style="border: 1px solid #D2D2D2;">
			<div class="question-container" id="question-container">
				<!-- 遍历题目 -->
				<div class="one-question" style="margin-left: 10px;margin-top: 15px;"  th:each="question,questionStat:${questions}"  >
					<div class="one-question-introduction">
						<div class="layui-form" style="display: inline;margin-right: 0px;margin-top: 0px;">
							<input type="checkbox" name="" title="" lay-skin="primary">
						</div>
						
						<div class="one-question-serial" style="display: inline;">
							<span style="font-size: 20px;color: #5FB878;" th:text="${questionStat.index+start_+1}+'、'">&nbsp;&nbsp;</span>
						</div>
                                                                              
                        <!--题型 填空选择-->
						<div class="one-question-type" style="display: inline;margin-right: 5px;" th:switch="${question.questiontype}">
							<span th:case="'0'" class="layui-badge" style="background-color:#5FB878;"> &nbsp;单选题&nbsp;</span>
							<span th:case="'1'" class="layui-badge" style="background-color:#5FB878;"> &nbsp;多选题&nbsp;</span>
							<span th:case="'2'" class="layui-badge" style="background-color:#5FB878;"> &nbsp;判断题&nbsp;</span>
							<span th:case="'3'" class="layui-badge" style="background-color:#5FB878;"> &nbsp;填空题&nbsp;</span>
							<span th:case="'4'" class="layui-badge" style="background-color:#5FB878;"> &nbsp;问答题&nbsp;</span>	
							<span th:case="'*'" class="layui-badge" style="background-color:#5FB878;"> &nbsp;其他&nbsp;</span>						
						</div>

						<div class="one-question-skill" style="display: inline;margin-right: 5px;">
						<!--问题技能-->
							<span th:text="${question.questionskill}" class="layui-badge" style="background-color:#5FB878;"></span>
							
						</div>

						<div class="one-question-degree" style="display: inline;margin-right: 5px;" th:switch="${question.difficultdegree}">
							<span th:case="'0'" class="layui-badge" style="background-color:#5FB878;"> &nbsp;难度：简单&nbsp;</span>
							<span th:case="'1'" class="layui-badge" style="background-color:#5FB878;"> &nbsp;难度：一般&nbsp;</span>
							<span th:case="'2'" class="layui-badge" style="background-color:#5FB878;"> &nbsp;难度：困难&nbsp;</span>
						</div>

						</div>
						<div class="one-question-title" style="margin-top: 30px;margin-left: 20px;">
							<div class="question-title"><span style="color: #333333;font-size: 17px;margin-left:20px;" th:text="${question.title}"> 以下配置，当Spring容器启动完成后，哪个描述是正确的？</span>
							</div>
						<div class="one-question-detial" style="margin-top: 20px;margin-left: 20px;">
											
  								<button type="button" style="margin-bottom: 10px;" class="layui-btn layui-btn-primary layui-btn-sm  show-question-answer" onclick="showAnswer(this)">
    								<i class="layui-icon">&#xe62e; 查看解析</i>
  								</button>
  								<button type="button" th:onclick="editQuestion([[${question.questionid}]],[[${question.title}]],[[${question.questionskill}]],[[${question.questiontype}]],[[${question.options}]],[[${question.answer}]],[[${question.analysis}]],[[${question.difficultdegree}]],[[${question.questionskill}]])" style="margin-bottom: 10px;" class="layui-btn layui-btn-primary layui-btn-sm">
    								<i class="layui-icon">&#xe642; 编辑</i>
  								</button>
  								<button type="button" th:onclick="deleteQuestion([[${bankId}]],[[${question.questionid}]])" style="margin-bottom: 10px;" class="layui-btn layui-btn-primary layui-btn-sm">
    								<i class="layui-icon">&#xe640; 删除</i>
  								</button>
							
							<div class="choice" style="border-left: 4px solid #5FB878;">
								<div class="layui-form" style="margin-left: 3px;">
								<!-- asfdsgffdffdsg循环展示一个 -->
								<div class="layui-form-item" th:each="option:${#strings.arraySplit(question.options, '#^#')}">
									<input type="radio" name="sex" th:text="${option}" style="color:#393D94;">
									<br>					
								</div>															
								</div>
							</div>
							<div class="right-answer question-answer" style="border-left: 4px solid #FF5722;margin-top: 15px;">	
								<div class ="right-answer-title" style="margin-left: 5px;">
									<div th:switch="${question.questiontype}">
										<span style="color: #333333;font-size: 16px;" > 答案</span>
										<div  th:case="2">
											<div th:switch="${question.answer}">
												<div class="layui-form" th:case="'对'">
													<div class="layui-form-item">
					  	      						<input type="radio" name="judge" value="对" title="对" checked disabled>
					  	      						<input type="radio" name="judge" value="错" title="错" disabled>  
					  	    						</div>
												</div>
												<div class="layui-form" th:case="'错'">
													<div class="layui-form-item">
					  	      						<input type="radio" name="judge" value="对" title="对"  disabled>
					  	      						<input type="radio" name="judge" value="错" title="错" checked disabled>
					  	    						</div>
												</div>
											</div>
					  							
										</div>
										<div th:case="*"style="color: #333333;font-size: 16px;">
											<div class ="right-answer-info" style="margin-left: 5px;" th:each="answer: ${#strings.arraySplit(question.answer, '#^#')}">
                                    		<a th:text="${answer}"></a>     
											<br>
											</div>
										</div>
									</div>
									
								</div>
								

							</div>
											
							<div class="answer-jiexi question-answer" style="border-left: 4px solid #FFB800;margin-top: 15px;">
								<div class ="right-answer-title" style="margin-left: 5px;">
									<span style="color: #333333;font-size: 16px;" > 试题解析 </span>
								</div>
								<br>
									<div class ="right-answer-info" style="margin-left: 5px;">
										<span th:text="${question.analysis}">  </span>
									</div>
							</div>					
						</div>							
					<hr>
				</div>							
			</div>

		</fieldset>
	</div>
				</div>

				<div class="layui-footer" style="margin-left: 20px;border-left: 1px solid darkseagreen;background-color: #FFF;">
					<!-- 底部固定区域 -->
					<div class="foot-page"><div id="pagerfoot"></div></div>
				</div>
			</div>

		</body>

</html>