<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
		<link type="text/css" rel="styleSheet" href="/static/css/style1.css" th:href="@{static/css/style1.css}" />
		<link type="text/css" rel="styleSheet" href="/static/css/ExamStyle.css" th:href="@{static/css/ExamStyle.css}" />
		<link type="text/css" rel="styleSheet" href="/static/layui/css/layui.css" th:href="@{static/layui/css/layui.css}" />
		<script type="text/javascript" src="/static/js/jquery-1.8.3.min.js" th:src="@{static/js/jquery-1.8.3.min.js}"></script>

		<script src="/static/layui/layui.js" th:src="@{static/layui/layui.js}"></script>

		<script type="text/javascript">
			//JavaScript代码区域
			layui.use('element', function() {
				var element = layui.element;

			});
			$(document).ready(function() {
				$("body").on("hover", ".NavBar-item", function() {
					$(this).css("background-color", "#BCDDBC");
				});
			
				$("body").on("mouseout", ".NavBar-item", function() {
					$(this).css("background-color", "#FFFFFF");
				});
				
			});
			
		</script>

	</head>

<body>
	<div class = "add-bank">
		<a id = "add_bank"><i class="layui-icon layui-icon-add-circle layui-anim layui-anim-up layui-anim-loop" style="font-size: 30px; color: darkseagreen;"></i>创建题库</a>
	</div>
	<hr style="height:1px;">
	<div class = "my_banks">
		<div class = "bank" style="background: black; width:150px; height: 90px; ">
		</div>	
	</div>
</body>

</html>

